<!DOCTYPE HTML>
<head>
    <title>Timestamp Service FCC</title>
</head>

<body>
<h1>API Timestamp Microservice</h1>

<p>Example usage:</p>
<code>https://protected-chamber-53623.herokuapp.com/December%2002,%202017</code>
<code>https://protected-chamber-53623.herokuapp.com/1512246045</code>

<p>Example output</p>
   <code> { "unix": "1512246045", "natural": "December 02, 2017" }</code>
   
   </body>
